*{
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
  
}

body {
  background-color: rgb(21, 73, 73);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  
}

.calculator {
 border: 2px solid white;
} 

.input {
  margin-bottom: 2px;
  border: 2px solid black;

}

.buttons {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;

}
#clearAll{
  border: 1px solid rgb(247, 0, 0);
}

#equalButton {
  grid-column-start: 3;
  grid-column-end: 5;
}